@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../images/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-DOOR-DELIVERY:before {
  content: "\e900";
  color: #fff;
}
.icon-EV-CHARGING:before {
  content: "\e901";
  color: #fff;
}
.icon-mail-phone:before {
  content: "\e902";
}
.icon-mail-mail:before {
  content: "\e903";
}
.icon-research:before {
  content: "\e904";
}
.icon-video-play-outline:before {
  content: "\e905";
}
.icon-vigilance:before {
  content: "\e906";
}
.icon-hp-gas:before {
  content: "\e907";
}
.icon-apps:before {
  content: "\e908";
}
.icon-career:before {
  content: "\e909";
}
.icon-cooperate:before {
  content: "\e90a";
}
.icon-home-page-icon_CSR:before {
  content: "\e90b";
}
.icon-direct-sales:before {
  content: "\e90c";
}
.icon-gas-renewebales:before {
  content: "\e90d";
}
.icon-health:before {
  content: "\e90e";
}
.icon-hp-aviation:before {
  content: "\e90f";
}
.icon-home-page-icon_HP-Gas-LPG:before {
  content: "\e910";
}
.icon-hp-lubricants1:before {
  content: "\e911";
}
.icon-hp-retail:before {
  content: "\e912";
}
.icon-investors:before {
  content: "\e913";
}
.icon-subsidiaries:before {
  content: "\e914";
}
.icon-ongoing-projects:before {
  content: "\e915";
}
.icon-od-e:before {
  content: "\e916";
}
.icon-petrochemicals:before {
  content: "\e917";
}
.icon-images:before {
  content: "\e918";
}
.icon-pipelines:before {
  content: "\e919";
}
.icon-press-media:before {
  content: "\e91a";
}
.icon-language-hindi:before {
  content: "\e91b";
}
.icon-Instagram:before {
  content: "\e91c";
}
.icon-linkedin:before {
  content: "\e91d";
}
.icon-news:before {
  content: "\e91e";
}
.icon-uniE91F:before {
  content: "\e91f";
}
.icon-uniE920:before {
  content: "\e920";
}
.icon-uniE921:before {
  content: "\e921";
}
.icon-uniE922:before {
  content: "\e922";
}
.icon-uniE923:before {
  content: "\e923";
}
.icon-uniE924:before {
  content: "\e924";
}
.icon-uniE925:before {
  content: "\e925";
}
.icon-uniE926:before {
  content: "\e926";
}
.icon-uniE927:before {
  content: "\e927";
}
.icon-uniE928:before {
  content: "\e928";
}
.icon-uniE929:before {
  content: "\e929";
}
.icon-uniE92A:before {
  content: "\e92a";
}
.icon-uniE92B:before {
  content: "\e92b";
}
.icon-uniE92C:before {
  content: "\e92c";
}
.icon-uniE92D:before {
  content: "\e92d";
}
.icon-uniE92E:before {
  content: "\e92e";
}
.icon-uniE92F:before {
  content: "\e92f";
}
.icon-uniE930:before {
  content: "\e930";
}
.icon-uniE931:before {
  content: "\e931";
}
.icon-uniE932:before {
  content: "\e932";
}
.icon-uniE933:before {
  content: "\e933";
}
.icon-uniE934:before {
  content: "\e934";
}
.icon-uniE935:before {
  content: "\e935";
}
.icon-uniE936:before {
  content: "\e936";
}
.icon-uniE937:before {
  content: "\e937";
}
.icon-uniE938:before {
  content: "\e938";
}
.icon-uniE939:before {
  content: "\e939";
}
.icon-uniE93A:before {
  content: "\e93a";
}
.icon-uniE93B:before {
  content: "\e93b";
}
.icon-uniE93C:before {
  content: "\e93c";
}
.icon-uniE93D:before {
  content: "\e93d";
}
.icon-uniE93E:before {
  content: "\e93e";
}
.icon-uniE93F:before {
  content: "\e93f";
}
.icon-uniE940:before {
  content: "\e940";
}
.icon-uniE941:before {
  content: "\e941";
}
.icon-uniE942:before {
  content: "\e942";
}
.icon-uniE943:before {
  content: "\e943";
}
.icon-uniE944:before {
  content: "\e944";
}
.icon-uniE945:before {
  content: "\e945";
}
.icon-uniE946:before {
  content: "\e946";
}
.icon-uniE947:before {
  content: "\e947";
}
.icon-uniE948:before {
  content: "\e948";
}
.icon-uniE949:before {
  content: "\e949";
}
.icon-uniE94A:before {
  content: "\e94a";
}
.icon-uniE94B:before {
  content: "\e94b";
}
.icon-uniE94C:before {
  content: "\e94c";
}
.icon-uniE94D:before {
  content: "\e94d";
}
.icon-uniE94E:before {
  content: "\e94e";
}
.icon-uniE94F:before {
  content: "\e94f";
}
.icon-uniE950:before {
  content: "\e950";
}
.icon-uniE951:before {
  content: "\e951";
}
.icon-uniE952:before {
  content: "\e952";
}
.icon-uniE953:before {
  content: "\e953";
}
.icon-uniE954:before {
  content: "\e954";
}
.icon-uniE955:before {
  content: "\e955";
}
.icon-uniE956:before {
  content: "\e956";
}
.icon-uniE957:before {
  content: "\e957";
}
.icon-uniE958:before {
  content: "\e958";
}
.icon-uniE959:before {
  content: "\e959";
}
.icon-uniE95A:before {
  content: "\e95a";
}
.icon-uniE95B:before {
  content: "\e95b";
}
.icon-uniE95C:before {
  content: "\e95c";
}
.icon-uniE95D:before {
  content: "\e95d";
}
.icon-uniE95E:before {
  content: "\e95e";
}
.icon-uniE95F:before {
  content: "\e95f";
}
.icon-uniE960:before {
  content: "\e960";
}
.icon-uniE961:before {
  content: "\e961";
}
.icon-uniE962:before {
  content: "\e962";
}
.icon-uniE963:before {
  content: "\e963";
}
.icon-uniE964:before {
  content: "\e964";
}
.icon-uniE965:before {
  content: "\e965";
}
.icon-uniE966:before {
  content: "\e966";
}
.icon-uniE967:before {
  content: "\e967";
}
.icon-uniE968:before {
  content: "\e968";
}
.icon-uniE969:before {
  content: "\e969";
}
.icon-uniE96A:before {
  content: "\e96a";
}
.icon-uniE96B:before {
  content: "\e96b";
}
.icon-uniE96C:before {
  content: "\e96c";
}
.icon-uniE96D:before {
  content: "\e96d";
}
.icon-uniE96E:before {
  content: "\e96e";
}
.icon-uniE96F:before {
  content: "\e96f";
}
.icon-uniE970:before {
  content: "\e970";
}
.icon-uniE971:before {
  content: "\e971";
}
.icon-uniE972:before {
  content: "\e972";
}
.icon-uniE973:before {
  content: "\e973";
}
.icon-uniE974:before {
  content: "\e974";
}
.icon-uniE975:before {
  content: "\e975";
}
.icon-uniE976:before {
  content: "\e976";
}
.icon-uniE977:before {
  content: "\e977";
}
.icon-uniE978:before {
  content: "\e978";
}
.icon-uniE979:before {
  content: "\e979";
}
.icon-uniE97A:before {
  content: "\e97a";
}
.icon-uniE97B:before {
  content: "\e97b";
}
.icon-uniE97C:before {
  content: "\e97c";
}
.icon-uniE97D:before {
  content: "\e97d";
}
.icon-uniE97E:before {
  content: "\e97e";
}
.icon-uniE97F:before {
  content: "\e97f";
}
.icon-uniE980:before {
  content: "\e980";
}
.icon-uniE981:before {
  content: "\e981";
}
.icon-uniE982:before {
  content: "\e982";
}
.icon-uniE983:before {
  content: "\e983";
}
.icon-uniE984:before {
  content: "\e984";
}
.icon-uniE985:before {
  content: "\e985";
}
.icon-uniE986:before {
  content: "\e986";
}
.icon-uniE987:before {
  content: "\e987";
}
.icon-uniE988:before {
  content: "\e988";
}
.icon-uniE989:before {
  content: "\e989";
}
.icon-uniE98A:before {
  content: "\e98a";
}
.icon-uniE98B:before {
  content: "\e98b";
}
.icon-uniE98C:before {
  content: "\e98c";
}
.icon-uniE98D:before {
  content: "\e98d";
}
.icon-uniE98E:before {
  content: "\e98e";
}
.icon-uniE98F:before {
  content: "\e98f";
}
.icon-uniE990:before {
  content: "\e990";
}
.icon-uniE991:before {
  content: "\e991";
}
.icon-uniE992:before {
  content: "\e992";
}
.icon-uniE993:before {
  content: "\e993";
}
.icon-uniE994:before {
  content: "\e994";
}
.icon-uniE995:before {
  content: "\e995";
}
.icon-uniE996:before {
  content: "\e996";
}
.icon-uniE997:before {
  content: "\e997";
}
.icon-uniE998:before {
  content: "\e998";
}
.icon-uniE999:before {
  content: "\e999";
}
.icon-uniE99A:before {
  content: "\e99a";
}
.icon-uniE99B:before {
  content: "\e99b";
}
.icon-uniE99C:before {
  content: "\e99c";
}
.icon-uniE99D:before {
  content: "\e99d";
}
.icon-uniE99E:before {
  content: "\e99e";
}
.icon-uniE99F:before {
  content: "\e99f";
}
.icon-uniE9A0:before {
  content: "\e9a0";
}
.icon-uniE9A1:before {
  content: "\e9a1";
}
.icon-uniE9A2:before {
  content: "\e9a2";
}
.icon-uniE9A3:before {
  content: "\e9a3";
}
.icon-uniE9A4:before {
  content: "\e9a4";
}
.icon-uniE9A5:before {
  content: "\e9a5";
}
.icon-uniE9A6:before {
  content: "\e9a6";
}
.icon-uniE9A7:before {
  content: "\e9a7";
}
.icon-uniE9A8:before {
  content: "\e9a8";
}
.icon-uniE9A9:before {
  content: "\e9a9";
}
.icon-uniE9AA:before {
  content: "\e9aa";
}
.icon-uniE9AB:before {
  content: "\e9ab";
}
.icon-uniE9AC:before {
  content: "\e9ac";
}
.icon-uniE9AD:before {
  content: "\e9ad";
}
.icon-uniE9AE:before {
  content: "\e9ae";
}
.icon-twitter:before {
  content: "\e9af";
}
.icon-video-play:before {
  content: "\e9b0";
}
.icon-language-english:before {
  content: "\e9b1";
}
.icon-facebook:before {
  content: "\e9b2";
}
.icon-banner-arrow-right:before {
  content: "\e9b3";
}
.icon-hp-lubricants:before {
  content: "\e9b4";
}
.icon-lpg-gas:before {
  content: "\e9b5";
}
.icon-rti:before {
  content: "\e9b6";
}
.icon-search:before {
  content: "\e9b7";
}
.icon-arrow-left:before {
  content: "\e9b8";
}
.icon-arrow-right:before {
  content: "\e9b9";
}
.icon-banner-arrow-left:before {
  content: "\e9ba";
}
.icon-play:before {
  content: "\e9bb";
}
.icon-uniE9BC:before {
  content: "\e9bc";
}
.icon-uniE9BD:before {
  content: "\e9bd";
}
.icon-pause:before {
  content: "\e9be";
}
.icon-uniE9BF:before {
  content: "\e9bf";
}
.icon-uniE9C0:before {
  content: "\e9c0";
}
.icon-uniE9C1:before {
  content: "\e9c1";
}
.icon-uniE9C2:before {
  content: "\e9c2";
}
.icon-uniE9C3:before {
  content: "\e9c3";
}
.icon-uniE9C4:before {
  content: "\e9c4";
}
.icon-uniE9C5:before {
  content: "\e9c5";
}
.icon-retail-outlets:before {
  content: "\e9c6";
}
.icon-sko-dealership:before {
  content: "\e9c7";
}
.icon-terminals:before {
  content: "\e9c8";
}
.icon-terminals1:before {
  content: "\e9c9";
}
.icon-our-heritage:before {
  content: "\e9ca";
}
.icon-our-leadership:before {
  content: "\e9cb";
}
.icon-pipeline-network:before {
  content: "\e9cc";
}
.icon-pipeline-thruput:before {
  content: "\e9cd";
}
.icon-lube-blending--15:before {
  content: "\e9ce";
}
.icon-lube-distributors:before {
  content: "\e9cf";
}
.icon-market-sales:before {
  content: "\e9d0";
}
.icon-mission-vision-value:before {
  content: "\e9d1";
}
.icon-Download-Photo:before {
  content: "\e9d2";
}
.icon-join-us:before {
  content: "\e9d3";
}
.icon-lpg-bottling:before {
  content: "\e9d4";
}
.icon-lpg-distributorship:before {
  content: "\e9d5";
}
.icon-lpg-import:before {
  content: "\e9d6";
}
.icon-lube-blending--14:before {
  content: "\e9d7";
}
.icon-awards-recognition:before {
  content: "\e9d8";
}
.icon-cng-outlets:before {
  content: "\e9d9";
}
.icon-commissioning:before {
  content: "\e9da";
}
.icon-gross-sales-05:before {
  content: "\e9db";
}
.icon-gross-sales-06:before {
  content: "\e9dc";
}
.icon-aviation-fuel:before {
  content: "\e9dd";
}
.icon-auto-lpg-dispensing:before {
  content: "\e9de";
}
.icon-7-ep:before {
  content: "\e9df";
}
.icon-partnerships-18:before {
  content: "\e9e0";
}
.icon-Financial-Information:before {
  content: "\e9e1";
}
.icon-Management-Profile:before {
  content: "\e9e2";
}
.icon-Mission:before {
  content: "\e9e3";
}
.icon-Picture-Gallery:before {
  content: "\e9e4";
}
.icon-View-Profile:before {
  content: "\e9e5";
}
.icon-Vision:before {
  content: "\e9e6";
}
.icon-Corporate-Citizen:before {
  content: "\e9e7";
}
.icon-Corporate-Overview:before {
  content: "\e9e8";
}
.icon-zoom:before {
  content: "\e9e9";
}
.icon-mail_mail:before {
  content: "\e9ea";
}
.icon-mail_phone:before {
  content: "\e9eb";
}
.icon-HP-Retail-TurboJet:before {
  content: "\e9ec";
}
.icon-HP-Retail-Auto-LPG:before {
  content: "\e9ed";
}
.icon-HP-Retail-Club-HP:before {
  content: "\e9ee";
}
.icon-HP-Retail-Club-HP-Star:before {
  content: "\e9ef";
}
.icon-HP-Retail-CNG:before {
  content: "\e9f0";
}
.icon-HP-Retail-Current-Campaigns:before {
  content: "\e9f1";
}
.icon-HP-Retail-Diesel:before {
  content: "\e9f2";
}
.icon-HP-Retail-E-Fuel-Station:before {
  content: "\e9f3";
}
.icon-HP-Retail-Good-Fuel-Promise:before {
  content: "\e9f4";
}
.icon-HP-Retail-HP-Pay-app:before {
  content: "\e9f5";
}
.icon-HP-Retail-Loyalty-Program:before {
  content: "\e9f6";
}
.icon-HP-Retail-PDS-Kerosene-SKO:before {
  content: "\e9f7";
}
.icon-HP-Retail-Petrol:before {
  content: "\e9f8";
}
.icon-HP-Retail-PoWer:before {
  content: "\e9f9";
}
.icon-HP-Retail-PoWer-99:before {
  content: "\e9fa";
}
.icon-HP-Retail-Reminero:before {
  content: "\e9fb";
}
.icon-HP-Retail-Retail-Dealerships:before {
  content: "\e9fc";
}
.icon-HP-Retail-Retail-outlet-locator:before {
  content: "\e9fd";
}
.icon-HP-Gas-Free-Trade-LPG:before {
  content: "\e9fe";
}
.icon-HP-Gas-Get-New-Connection:before {
  content: "\e9ff";
}
.icon-HP-Gas-My-HP-Gas:before {
  content: "\ea00";
}
.icon-HP-Gas-New-Distributorship:before {
  content: "\ea01";
}
.icon-HP-Gas-Order-Refill:before {
  content: "\ea02";
}
.icon-HP-Gas-Preferred-Time-Delivery:before {
  content: "\ea03";
}
.icon-HP-Gas-Bulk-LPG:before {
  content: "\ea04";
}
.icon-HP-Gas-Change-your-distributor:before {
  content: "\ea05";
}
.icon-HP-Gas-Commercial-LPG:before {
  content: "\ea06";
}
.icon-HP-Gas-Distributor-Locator:before {
  content: "\ea07";
}
.icon-HP-Gas-Faqs:before {
  content: "\ea08";
}
.icon-Direct-Sale-SKO:before {
  content: "\ea09";
}
.icon-Direct-Sale-Sulfur:before {
  content: "\ea0a";
}
.icon-Direct-Sale-Vendor:before {
  content: "\ea0b";
}
.icon-Direct-Sale-Apply-Location:before {
  content: "\ea0c";
}
.icon-Direct-Sale-Bitumen:before {
  content: "\ea0d";
}
.icon-Direct-Sale-Download:before {
  content: "\ea0e";
}
.icon-Direct-Sale-FO:before {
  content: "\ea0f";
}
.icon-Direct-Sale-Hexang:before {
  content: "\ea10";
}
.icon-Direct-Sale-HSD:before {
  content: "\ea11";
}
.icon-Direct-Sale-Knowledge-Portal:before {
  content: "\ea12";
}
.icon-Direct-Sale-LDO:before {
  content: "\ea13";
}
.icon-Direct-Sale-MTO:before {
  content: "\ea14";
}
.icon-Direct-Sale-Naphtha:before {
  content: "\ea15";
}
.icon-Direct-Sale-Product-Pricing:before {
  content: "\ea16";
}
.icon-Dealer-Website:before {
  content: "\ea17";
}
.icon-DISH:before {
  content: "\ea18";
}
.icon-Energy-Management:before {
  content: "\ea19";
}
.icon-Environment-Policy:before {
  content: "\ea1a";
}
.icon-Ethanol-Bio-Fuel-14:before {
  content: "\ea1b";
}
.icon-Happy-Safety-Hour:before {
  content: "\ea1c";
}
.icon-HP-Buddy:before {
  content: "\ea1d";
}
.icon-HSE-Policy:before {
  content: "\ea1e";
}
.icon-OISD:before {
  content: "\ea1f";
}
.icon-Quality:before {
  content: "\ea20";
}
.icon-SOD:before {
  content: "\ea21";
}
.icon-SOD-CSR-Activities:before {
  content: "\ea22";
}
.icon-Solar-Energy:before {
  content: "\ea23";
}
.icon-Stakeholder-Initiatives:before {
  content: "\ea24";
}
.icon-Sustainability:before {
  content: "\ea25";
}
.icon-List-of-CPIO:before {
  content: "\ea26";
}
.icon-Minus:before {
  content: "\ea27";
}
.icon-Plus:before {
  content: "\ea28";
}
.icon-Submit-RTI-Online:before {
  content: "\ea29";
}
.icon-How-to-apply:before {
  content: "\ea2a";
}
.icon-Information-Manual:before {
  content: "\ea2b";
}
.icon-Research-and-Development:before {
  content: "\ea2c";
}
.icon-Study-Leave:before {
  content: "\ea2d";
}
.icon-thanol-Bio-Fuel:before {
  content: "\ea2e";
}
.icon-Why-work:before {
  content: "\ea2f";
}
.icon-Engineering:before {
  content: "\ea30";
}
.icon-EVP:before {
  content: "\ea31";
}
.icon-Finance:before {
  content: "\ea32";
}
.icon-HP4-Pillars-Lubricants:before {
  content: "\ea33";
}
.icon-HR:before {
  content: "\ea34";
}
.icon-Important-Updates:before {
  content: "\ea35";
}
.icon-Information-system:before {
  content: "\ea36";
}
.icon-Legal:before {
  content: "\ea37";
}
.icon-Loans:before {
  content: "\ea38";
}
.icon-Marketing:before {
  content: "\ea39";
}
.icon-Medical:before {
  content: "\ea3a";
}
.icon-purchase:before {
  content: "\ea3b";
}
.icon-refineries:before {
  content: "\ea3c";
}
.icon-design_Advances:before {
  content: "\ea3d";
}
.icon-design_Allowances:before {
  content: "\ea3e";
}
.icon-design_Child-Care-Leave:before {
  content: "\ea3f";
}
.icon-design_Holiday:before {
  content: "\ea40";
}
.icon-design_Leave-and-License:before {
  content: "\ea41";
}
.icon-design_Loans:before {
  content: "\ea42";
}
.icon-design_Medical-Benefits:before {
  content: "\ea43";
}
.icon-design_Study-Leave:before {
  content: "\ea44";
}
.icon-bulb-icon:before {
  content: "\ea45";
}
.icon-icons-01:before {
  content: "\ea46";
}
.icon-icons-02:before {
  content: "\ea47";
}
.icon-career-quality:before {
  content: "\ea48";
}
.icon-icons-04:before {
  content: "\ea49";
}
.icon-icons-05:before {
  content: "\ea4a";
}
.icon-icons-06:before {
  content: "\ea4b";
}
.icon-icons-07:before {
  content: "\ea4c";
}
.icon-icons-08:before {
  content: "\ea4d";
}
.icon-icons-09:before {
  content: "\ea4e";
}
.icon-icons-10:before {
  content: "\ea4f";
}
.icon-icons-11:before {
  content: "\ea50";
}
.icon-icons-12:before {
  content: "\ea51";
}
.icon-icons-13:before {
  content: "\ea52";
}
.icon-icons-14:before {
  content: "\ea53";
}
.icon-icons-15:before {
  content: "\ea54";
}
.icon-mobile:before {
  content: "\ea55";
}
.icon-human-resource:before {
  content: "\ea56";
}
.icon-icons-17:before {
  content: "\ea57";
}
.icon-legal:before {
  content: "\ea58";
}
.icon-icon_City-Gas-Distribution:before {
  content: "\ea59";
}
.icon-icon_Compressed-Bio-Gas1:before {
  content: "\ea5a";
}
.icon-icon_Renewable-Energy1:before {
  content: "\ea5b";
}
.icon-Gas-icon:before {
  content: "\ea5c";
}
.icon-icon-IT:before {
  content: "\ea5d";
}
.icon-icon_Compressed-Bio-Gas:before {
  content: "\ea5e";
}
.icon-icon_Renewable-Energy:before {
  content: "\ea5f";
}
.icon-Corporate-Citizen---CSR:before {
  content: "\ea60";
}
.icon-Customer-e-Service:before {
  content: "\ea61";
}
.icon-Enquiries:before {
  content: "\ea62";
}
.icon-uniEA63:before {
  content: "\ea63";
}
.icon-uniEA64:before {
  content: "\ea64";
}
.icon-Notifications-Tenders:before {
  content: "\ea65";
}
.icon-Our-Customers:before {
  content: "\ea66";
}
.icon-Our-Facilities:before {
  content: "\ea67";
}
.icon-Quality-Policy:before {
  content: "\ea68";
}
.icon-Training:before {
  content: "\ea69";
}
.icon-Ji-Haan-cylinder-icon:before {
  content: "\ea6a";
}
.icon-App:before {
  content: "\ea6b";
}
.icon-Business-opportunity:before {
  content: "\ea6c";
}
.icon-LPG-Distributorship-Locator:before {
  content: "\ea6d";
}
.icon-Prices-of-Petrol--Diesel:before {
  content: "\ea6e";
}
.icon-Retail-Outlet:before {
  content: "\ea6f";
}
.icon-Vigilance:before {
  content: "\ea70";
}
.icon-Allied-Retail-Business:before {
  content: "\ea71";
}
.icon-Door-to-Door-Diesel:before {
  content: "\ea72";
}
.icon-EV-Charging:before {
  content: "\ea73";
}
.icon-Highway-Outlets:before {
  content: "\ea74";
}
.icon-International-Business:before {
  content: "\ea75";
}
.icon-Mobile-App:before {
  content: "\ea76";
}
.icon-Mobile-Dispenser:before {
  content: "\ea77";
}
.icon-Petrol-Pump-Dealership-COCOs:before {
  content: "\ea78";
}
.icon-hp_gas_hp-gas:before {
  content: "\ea79";
}
.icon-icons_Advertisements:before {
  content: "\ea7a";
}
.icon-icons_Factory_with_Smoke_Stacks:before {
  content: "\ea7b";
}
.icon-icons_Paint:before {
  content: "\ea7c";
}
.icon-icons_Special_Products:before {
  content: "\ea7d";
}
.icon-Commercial_cylinder:before {
  content: "\ea7e";
}
.icon-tire-1:before {
  content: "\ea7f";
}
.icon-solvent:before {
  content: "\ea80";
}
.icon-Marine_Fuels:before {
  content: "\ea81";
}
.icon-Completed-Projects:before {
  content: "\ea82";
}
.icon-EP---CER---ESR:before {
  content: "\ea83";
}
.icon-On-going-projects:before {
  content: "\ea84";
}
.icon-Sustainability1:before {
  content: "\ea85";
}
.icon-Appu:before {
  content: "\ea86";
}
.icon-Mobile-Dispenser1:before {
  content: "\ea87";
}
.icon-Commercial-LPG:before {
  content: "\ea88";
}
.icon-icons_PROPYLENE:before {
  content: "\ea89";
}
.icon-icons_R-D-Products:before {
  content: "\ea8a";
}
.icon-HP-anytime:before {
  content: "\ea8b";
}
